<div class="home">
  <div class="row">
    <div class="col-sm-12" style="font-size: 70px; padding-bottom:60px">
      Trending
    </div>
  </div>
  <div class="row centerElement">
    <div class="col-sm-12 form-group">
      <input type="accessCode" class="form-control" id="accessCode" placeholder="Enter access code">
    </div>
  </div>
  <div class="row centerElement">
    <div class="col-sm-12 form-group">
      <input type="username" class="form-control" id="username" placeholder="Enter your name">
    </div>
  </div>
  <div class="row centerElement">
    <div class="col-sm-12" style="padding-top:20px">
      <button type="button" class="btn btn-light" routerLink="/home">Join Game</button>
      <button type="button" class="btn btn-light" routerLink="/home">Back</button>
    </div>
  </div>
</div>
