<div class="home">
  <div class="row centerElement">
    <div class="col-sm-12" style="font-size: 70px; padding-bottom:15px">
      Trending
    </div>
  </div>
  <div class="row centerElement">
    <div class="col-sm-12">
      Access code: <b>gul6r5</b>
    </div>
  </div>
  <div class="row centerElement">
    <div class="col-sm-12 form-group" style="padding-top:20px">
      <ul class="users">
        <!-- <li *ngFor="let hero of users"> -->
          <!-- <span class="badge">{{hero.id}}</span> {{hero.name}} -->
          <li><span class="badge">1</span> Superman</li>
        <!-- </li> -->
      </ul>
    </div>
  </div>
  <div class="row centerElement">
    <div class="col-sm-12" style="padding-top:20px">
      <button type="button" class="btn btn-light" routerLink="/game">Start Game</button>
      <button type="button" class="btn btn-light" routerLink="/create" skipLocationChange>Back</button>
    </div>
  </div>
</div>
